<div>
  <h2 id="modalTitle" ng-hide="newNode.id">Add Node</h2>

  <h2 ng-show="newNode.id">{{newNode.id}}</h2>

  <form name="nodeForm" novalidate>
    <div class="row">
      <div class="large-4 columns">
        <label ng-class="{error: nodeForm.id.$dirty && nodeForm.id.$error.required}">Id
          <input type="text" placeholder="Enter Id" ng-model="newNode.id" name="id" required/>
          <span ng-show="nodeForm.id.$dirty && nodeForm.id.$error.required" class="error">ID is required.</span>
        </label>
      </div>
      <div class="large-4 columns">
        <label ng-class="{error: nodeForm.name.$dirty && nodeForm.name.$error.required}">Name
          <input type="text" placeholder="Enter Name" ng-model="newNode.details.name" name="name" required/>
          <span ng-show="nodeForm.name.$dirty && nodeForm.name.$error.required" class="error">Name is required.</span>
        </label>
      </div>
      <div class="large-4 columns">
        <label ng-class="{error: nodeForm.version.$dirty && nodeForm.version.$error.required}">Version
          <input type="text" placeholder="Enter Version" ng-model="newNode.details.nodeVersion" name="version"
                 required=""/>
          <span ng-show="nodeForm.version.$dirty && nodeForm.version.$error.required"
                class="error">Version is required.</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label>Status
          <select ng-model="newNode.details.status" ng-options="states for states in states"
                  ng-init="newNode.details.status = 'UP'"></select>
        </label>
      </div>
      <div class="large-4 columns">
        <label>Type
          <select ng-model="newNode.details.type" ng-options="types for types in types"
                  ng-init="newNode.details.type = newNode.details.type || 'DB'">
          </select>
        </label>
      </div>
      <div class="large-4 columns">
        <label>Group
          <select ng-model="newNode.details.group" ng-options="groups for groups in groups"
                  ng-init="newNode.details.group = newNode.details.group || 'BCI'">
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Description
          <textarea placeholder="Enter Description"></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <label>Nodes available</label>
        <ul id="fromList" class="links-container" ui-sortable="nodesList" ng-model="availableNodes">
          <li class="node-placeholder" ng-repeat='node in availableNodes'>{{node.id}}</li>
        </ul>
      </div>
      <div class="small-6 columns">
        <label>Nodes to link</label>
        <ul id="toList" class="links-container" ui-sortable="nodesList" ng-model="newNode.linkedNodes">
          <li class="node-placeholder" ng-repeat='node in newNode.linkedNodes'>{{node.id}}</li>
        </ul>

      </div>
    </div>
    <div class="row">
      <span class="small-3 columns">
        <input type="submit" role="button" aria-label="submit form" href="#"
               class="nice blue radius button" value="Submit" ng-click="ok()" ng-disabled="nodeForm.$invalid"/>
      </span>
        <span class="small-3 columns">
          <a class="button custom-close-reveal-modal" ng-click="cancel()">Cancel</a>
      </span>
    </div>
  </form>

  <a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">&#215;</a>
</div>
<script type="text/javascript">//<![CDATA[
//$(function () {
//  $("#fromList li").draggable({
//    connectToSortable: "#toList",
//    revert: "invalid",
//    containment: '#equipCont',
//    helper: function (e, ui) {
//      return $(this).clone().css('width', $(this).width());
//    }
//  });
//  $("#toList").droppable({
//    drop: function (e, ui) {
//      var dragClone = $(ui.draggable).clone();
//      $("#toList").append(dragClone);
//      $("#toList li").eq(0).hide(true);
//    }
//  });
//  $("ul, li").disableSelection();
//  $(function() {
//    $( "#fromList, #toList" ).sortable({
//      connectWith: ".links-container"
//    }).disableSelection();
//  });
//});
</script>

