<div id="bottombar">
    <div class="button-div">
        <button class="button round addnode" ng-click="open(0)">
            <span>+</span>
        </button>
    </div>
    <div class="button-div">
        <button class="button round addnode" ng-click="open(1)">
            <span>+</span>
        </button>
    </div>
    <div class="button-div">
        <button class="button round addnode" ng-click="open(2)">
            <span>+</span>
        </button>
    </div>
    <div class="button-div">
        <button class="button round addnode" ng-click="open(3)">
            <span>+</span>
        </button>
    </div>
</div>
