<div id="control-bar" class="row collapse full-width">

  <div class="columns large-3">
    <input type="search" placeholder="Search node" id="searchnode" ng-model="nodeSearch.id" />
  </div>

  <div class="columns large-3">
    <select ng-model="nodeSearch.status" ng-options="states for states in states" ng-init="nodeSearch.status = 'ALL'">
    </select>
  </div>
  <div class="columns large-3">
    <select ng-model="nodeSearch.type" ng-options="types for types in types" ng-init="nodeSearch.type = 'ALL'">
    </select>
  </div>
  <div class="columns large-3">
    <select ng-model="nodeSearch.group" ng-options="groups for groups in groups" ng-init="nodeSearch.group = 'ALL'">
    </select>
  </div>

</div>
