/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
 @import '../../bower_components/foundation/scss/foundation/_functions.scss';

$topbar-bg-color: #34302d;
$primary-color: #6db33f;
$topbar-height: rem-calc(55);
$topbar-title-font-size: rem-calc(22);
