//only fixed styles here, it increases the performance greatly over adding it in the code
svg {
  .node {
    circle {
      transition: 0.5s stroke-opacity 0.3s ease;
      stroke-width: 5;
      fill: white;
    }

    rect {
      transition: 0.5s stroke-opacity 0.3s ease;
      stroke-width: 3;
      fill: white;
    }
  }

  .svgtooltip {
    visibility: hidden;
    fill: #5AADBB;
  }

  .clickablelink, .link {
    transition: 0.5s opacity 0.3s ease;
  }
}