<div>
    <h2 id="modalTitle" ng-hide="vm.newNode.id">{{vm.newNode.details.name?vm.newNode.details.name:"Add Node"}}</h2>

    <h2 ng-show="vm.newNode.id">{{vm.newNode.details.name?vm.newNode.details.name:vm.newNode.id}}</h2>

    <form name="nodeForm" novalidate ng-submit="vm.ok()">
        <div class="row">
            <div class="large-4 columns" ng-if="vm.isNewNode || vm.newNode.details.name">
                <label>Name
                    <input type="text" placeholder="Enter Name"
                           ng-model="vm.newNode.details.name"
                           ng-disabled="!vm.isVirtualNode"
                           name="name"
                    />
                </label>
            </div>
            <div class="large-4 columns">
                <label>Version
                    <input type="text"
                           placeholder="Enter Version"
                           ng-model="vm.newNode.details.version"
                           ng-disabled="!vm.isVirtualNode"
                           name="version"
                    />
                </label>
            </div>
            <div class="large-4 columns"></div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>Status
                    <select ng-model="vm.newNode.details.status"
                            ng-options="state.key as state.value for state in vm.states"
                            ng-disabled="true">
                    </select>
                </label>
            </div>
            <div class="large-4 columns">
                <label>Type
                    <select ng-model="vm.newNode.details.type"
                            ng-options="type.key as type.value for type in vm.types"
                            ng-disabled="(!vm.isVirtualNode || vm.isNewNode && vm.isFixedLane)">
                    </select>
                </label>
            </div>
            <div class="large-4 columns">
                <label>Group
                    <select ng-model="vm.newNode.details.group"
                            ng-options="group.key as group.value for group in vm.groups"
                            ng-disabled="!vm.isVirtualNode">
                    </select>
                </label>
            </div>
        </div>
        <div class="row" ng-if="vm.isVirtualNode">
            <div class="large-3 columns">
                <label>Launch date
                    <input type="text"
                           placeholder="Enter expected launch date"
                           ng-model="vm.newNode.details.launchDate"
                           name="launchDate"/>
                </label>
            </div>
            <div class="large-3 columns">
                <label>Project
                    <input type="text"
                           placeholder="Enter project name"
                           ng-model="vm.newNode.details.project"
                           name="project"/>
                </label>
            </div>
            <div class="large-3 columns">
                <label>Intake
                    <input type="text"
                           placeholder="Enter intake"
                           ng-model="vm.newNode.details.intake"
                           name="intake"/>
                </label>
            </div>
            <div class="large-3 columns">
                <label>Contact
                    <input type="text"
                           placeholder="Enter contact"
                           ng-model="vm.newNode.details.contact"
                           name="contact" />
                </label>
            </div>
        </div>
        <div class="row" ng-if="isVirtualNode">
            <div class="large-4 columns" ng-repeat="custom in vm.newNode.details.custom">
                <label ng-if="!custom.isNew">{{custom.key}}
                    <input type="text"
                           placeholder="Enter {{custom.key}}"
                           ng-model="custom.value"
                           name="project" />
                </label>
                <div class="row collapse" ng-if="custom.isNew">
                    <label>new value</label>
                    <div class="large-4 columns">
                        <input type="text"
                               placeholder="Enter the key"
                               ng-model="custom.key"
                               ng-blur="vm.checkFilledIn(custom)"
                        />
                    </div>
                    <div class="large-8 columns">
                        <input type="text"
                               placeholder="Enter the value"
                               ng-model="custom.value"
                               ng-blur="vm.checkFilledIn(custom)"
                        />
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <label><br>
                    <button type="button" class="button round" ng-click="vm.addCustomValue()">Add custom field</button>
                </label>
            </div>
        </div>
        <div class="row" ng-if="vm.newNode.details.type === 'RESOURCE'">
            <div class="large-12 columns">
                <label>Link to documentation
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input ng-model="vm.newNode.details.docs"
                                   ng-disabled="!vm.isVirtualNode"/>
                        </div>
                        <div class="small-2 columns">
                            <a href="{{vm.newNode.details.docs}}" target="_blank" class="button postfix">Go</a>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Description
                    <textarea ng-model="vm.newNode.details.description"
                              placeholder="Enter Description"
                              ng-disabled="!vm.isVirtualNode">
                    </textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <label>Nodes available</label>
                <ul id="fromList" class="links-container" ui-sortable="vm.nodesList" ng-model="vm.availableNodes">
                    <li class="node-placeholder" ng-repeat='node in vm.availableNodes track by $index'>{{node.details.name?node.details.name:node.id}}</li>
                </ul>
            </div>
            <div class="small-6 columns">
                <label>Nodes to link</label>
                <ul id="toList" class="links-container right" ui-sortable="vm.nodesList" ng-model="vm.linkedNodes">
                    <li class="node-placeholder" ng-repeat='node in vm.linkedNodes track by $index'>{{node.details.name?node.details.name:node.id}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
          <span class="small-3 columns">
            <input type="submit" role="button" aria-label="submit form"
                   class="blue radius button" value="Submit"/>
          </span>
                <span class="small-3 columns" ng-if="!vm.isNewNode && vm.newNode.details.status==='VIRTUAL'">
            <input role="button" aria-label="delete node"
                   class="button radius alert" value="Delete"
                   ng-click="vm.delete()"/>
          </span>
            <span class="small-3 columns">
                <input role="button" aria-label="cancel action"
                       class="button radius secondary" value="Cancel"
                       ng-click="vm.cancel()"/>
          </span>
        </div>
    </form>

    <a class="close-reveal-modal" aria-label="Close" ng-click="vm.cancel()">&#215;</a>
</div>

