<div class="top-bar-container">

  <top-bar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#"><img src="icon.png" width="50" /> Microservices Dashboard</a>
        </h1>
      </li>
    </ul>
    <top-bar-section>
      <ul class="left">
        <li class="logo-msg">Logo created by Vicons Design from the Noun Project</li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li has-dropdown>
          <a href="#">Settings</a>
          <ul top-bar-dropdown class="settings">
            <li><a ng-click="vm.openEventsModal()">Events</a></li>
            <li><input type="checkbox" ng-model="vm.isUiLaneVisible" ng-change="vm.onChange()" ng-true-value="true" ng-false-value="false"><label>Show UI Lane</label></li>
          </ul>
        </li>
      </ul>
    </top-bar-section>
  </top-bar>

</div>
