<!--<div legend types="types"></div>-->
<div id="legenda" class="column large-12" ng-controller="LegendController as legend">
    <ul>
        <li ng-repeat="type in legend.types">
            <div class="circle" ng-style="legend.getColor(type.key)" ng-if="type.key !== 'RESOURCE'"></div>
            <div class="circle rectangle" ng-style="legend.getColor(type.key)" ng-if="type.key === 'RESOURCE'"></div>
            <span class="circle-type">{{type.key}}</span>
        </li>
    </ul>
</div>
<!--<div lanefilter lane="0" filter="uiFilter"></div>-->
<!--<div lanefilter lane="1" filter="epFilter"></div>-->
<!--<div lanefilter lane="2" filter="msFilter"></div>-->
<div lanefilter filter="beFilter"></div>
<!--<div style="margin-bottom: -60px">-->
    <!--<div class="column large-3">-->
        <!--<h3 style="text-align: center">{{graphData.lanes[0].type}}</h3>-->
    <!--</div>-->
    <!--<div class="column large-3">-->
        <!--<h3 style="text-align: center">{{graphData.lanes[1].type}}</h3>-->
    <!--</div>-->
    <!--<div class="column large-3">-->
        <!--<h3 style="text-align: center">{{graphData.lanes[2].type}}</h3>-->
    <!--</div>-->
    <!--<div class="column large-3">-->
        <!--<h3 style="text-align: center">{{graphData.lanes[3].type}}</h3>-->
    <!--</div>-->
<!--</div>-->

<msg-d3-graph graph-data="graphData"></msg-d3-graph>
